<!DOCTYPE html>
<html>
  <head>
    <title>Order Cancellation</title>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear <%= @resource.email %>,</h1>
    <h2>You can confirm your account email through the link below:</h2>
    <p>
      <%= link_to 'Confirm my account', "http://lunchea.com/#/auth/confirm?confirmation_token=#{ @token}"%>
    </p>
    <p>Thank you</p>
    <p>Lunchea</p>
  </body>
</html>
