<!DOCTYPE html>
<html>
  <body>
    <p>Dear customer,</p>
    <p>Thank you for placing your order at <a href="www.lunchea.com">Lunchea.com</a>!</p>
    <% if @order.confirmed? %>
      <p>Your order is confirmed. For your information, here is the <a href="http://www.lunchea.com/#/orders/<%= @order.id %>/confirm?access_token=<%= @order.access_token %>">order confirmation page</a></p>
    <% else %>
      <p>Please <strong>confirm</strong> your order at the <a href="https://www.lunchea.com/#/orders/<%= @order.id %>/confirm?access_token=<%= @order.access_token %>">order confirmation page</a> before
      <strong><%= (@order.expired_at + Time.now.utc_offset.seconds).strftime('%m/%d/%y %l:%M %P') %></strong>. </p>
      <p>We currently do not process late orders.<br>
      If you wish to avoid confirming each time you order, sign up!</p>
    <% end %>
    <p>Please bring the cash to the respective venues to pick up your orders.</p>
    <p><b>Order details</b></p>
    <table>
      <tr>
        <td>Total price:</td>
        <td><%= @order.price.try(:format_with_settings) %>
          <% if @order.discount > 0 %> (discount applied)<% end %></td>
      </tr>
      <tr>
        <td>Order id:</td>
        <td><%= @order.id.to_s %></td>
      </tr>
      <tr>
        <td>Order deliveries</td>
        <td>
          <% @order.deliveries.each do |delivery| %>
            From <b><%= delivery.store.name %></b> <br>
            Delivery time: <b>
            <%= (delivery.store.delivery_time_of(delivery.delivered_at) + Time.now.utc_offset.seconds).strftime('%m/%d/%y %l:%M %P') %> </b> <br>
            Venue: <b> <a href="<%= delivery.store.map_address %>"><%= delivery.store.delivery_address %></a>  </b>
            <ul>
              <% delivery.items.each do |item| %>
                 <li> <%= item.box.name %>
                   <% if item.quantity>1 %>: <%= item.quantity %> <% end %>
                   <% if item.preferences.count > 0 %>
                     <% if item.preferences[0].box_preference_id != nil %>
                       <ul>
                       <% item.preferences.each do |preference| %>
                         <li><%= preference.box_preference.name %> </li>
                       <% end %>
                       </ul>
                     <% end %>
                   <% end %>
                 </li>
              <% end %>
            </ul>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>Order access token:</td>
        <td><%= @order.access_token %></td>
      </tr>
    </table>
    <p>Enjoy your lunch!</p>
    <p>We hope to see you again!</p>
    <p>Lunchea</p>
  </body>
</html>