<!DOCTYPE html>
<html>
  <body>
    <p>Dear customer,<p>
    <p>We're writing to let you know that your order of lunch boxes at <a href="www.lunchea.com">www.lunchea.com</a> has been canceled due to late confirmation.</p>
    <p><b>Order details</b></p>
    <table>
      <tr>
        <td>Order id:</td>
        <td><%= @order.id.to_s %></td>
      </tr>
      <tr>
        <td>Order deliveries</td>
        <td>
          <% @order.deliveries.each do |delivery| %>
            From <b><%= delivery.store.name %></b> <br>
            Delivery time: <b> <%= delivery.delivered_at %></b>
            <ul>
              <% delivery.items.each do |item| %>
                 <li> <%= item.box.name %>
                   <% if item.quantity>1 %>: <%= item.quantity %> <% end %>
                   <% if item.preferences.count > 0 %>
                     <ul>
                     <% item.preferences.each do |preference| %>
                       <li><%= preference.box_preference.name %> </li>
                     <% end %>
                     </ul>
                   <% end %>
                 </li>
              <% end %>
            </ul>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>Order access token:</td>
        <td><%= @order.access_token %></td>
      </tr>
    </table>
    <p>We hope to see you again soon.</p>
    <p>Lunchea</p>
  </body>
</html>