<!DOCTYPE html>
<html>
  <body>
    <h3>Summary for SBU Forum for <%= Date.today %></h3>

    <% if @deliveries.count > 0 %>
      <div>
        <b>Total deliveries: <%= @deliveries.count %></b>
        <p>
          <% Store.all.each do |store| %>
              <%= store.name %>: <%= @deliveries.where(store: store).count %> <br>
          <% end %>
        </p>
      </div>
    <% else %>
      No deliveries today.
    <% end %>
  </body>
</html>