<!DOCTYPE html>
<html>
  <body>
    <h1>Orders for <%= Date.today %></h1>

    <% if @deliveries.count > 0 %>
      <% @deliveries.each_with_index do |delivery, index| %>
        <div>
        ================================
          <div>
            <b>Delivery #<%= index + 1 %> </b>
            <% if delivery.discount? %>
              (<%= delivery.discount_number %>)
            <% end %>
            <br>
            <b>Phone: </b> <%= delivery.phone %> <br>
          </div>
          <% delivery.items.each do |item| %>
            <div>
              <b> - <%= item.box.name %>
                <% if item.quantity>1 %>: X <%= item.quantity %> <% end %>
                - <%= item.price.format_with_settings %>
              </b> <br>
              <% if item.preferences.count > 0 %>
                <% if item.preferences[0].box_preference_id != nil %>
                  <% item.preferences.each do |preference| %>
                    <%= preference.box_preference.name %> <br>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        ================================
        </div>
        <br>
      <% end %>
    <% else %>
      No online deliveries today.
    <% end %>
  </body>
</html>